<!-- 
<div class="background">
</div>

<div>
	<h1>
		<span>ONE QUOTE AT A TIME!</span>
        <br>
        <br>
		<span>Daily Motivational Quotes-</span>
        <br>
        <br>
		<span>Click QUOTES at the top of the page to start your collection of quotes for everyday.</span>
	</h1>
</div>  -->

<head>
	<style>
	div.background {
	  background: url(klematis.jpg) repeat;
	  border: 2px solid black;
	}
	
	div.transbox {
	  margin: 30px;
	  background-color: #ffffff;
	  border: 1px solid black;
	  opacity: 0.6;
	}
	
	div.transbox p {
	  margin: 5%;
	  font-weight: bold;
	  color: #000000;
	}
	</style>
	</head>
	<body>
	
	<div class="background">
	  <div class="transbox">
		<p>Click QUOTES at the top of the page to start your collection of quotes for everyday.</p>
	  </div>
	</div>
	
	</body>

