
<div class="background">
</div>

<div>
	<h1>
		<span>Say Yes!</span>
        <br>
        <br>
		<span>Daily Motivational Quotes-</span>
        <br>
        <br>
		<span>Login to start your collection of quotes today.</span>
	</h1>
</div>

