
<form method="POST" action="./quotes">
    <button class="btn btn-primary" type="submit">Add Quote</button>
</form>
<% if (Array.isArray(quotes) && quotes.length > 0) {  %> 
    <% quotes.forEach((quote) =>{ %> 
<p> <%= quote.quote %> </p>
<p> <%= quote.name %> </p>
    <% }) %> 
    <% } %> 
